@{
    ViewBag.Title = "Home Page";
}
    <br />

<p>Message:</p>
<div class="form-group">
    <input type="text" name="txtmsg" id="txtmsg" class="form-control" />
</div>
<div class="form-group">
    <input type="button" value="send" class="btn btn-success" name="btnsend" id="btnsend" />
</div>
<br />

<div class="col-md-12">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="panel-title">
                Messages
            </div>
            <div class="panel-footer" style="min-height:400px;">
                <div id="divmsg">
                </div>
            </div>
        </div>
    </div>
</div>
<p><small>Use to know Open stock Price: /stock=^SPX  </small></p>



    @section Scripts{

        <script type="text/javascript">

        $(document).ready(function () {
            $("#btnsend").click(function () {
                send();
            });
            setInterval(function () {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: '{}',
                    url: "@Url.Action("receive")",
                    dataType: "json",
                    success: function (response) {
                        var data = $("#divmsg").html();
                        $("#divmsg").html(data + "<br>" + response);
                    },
                    error: function (response) {

                    }
                });
            }, 2000);
            function send() {
                var message = $("#txtmsg").val();
                $("#txtmsg").val("");
                //debugger;
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: '{"message":"' + message +'"}',
                    url: "@Url.Action("sendmsg")",
                    dataType: "json",
                    success: function (response) {
                        var data = $("#divmsg").html();
                        $("#divmsg").html(data + "<br>" + response);
                    },
                    error: function (response) {

                    }
                });
            }
        });
        </script>


    }
